## Exercise 1

In [23]:
Height_in_meters=1.65
Weight_in_kg=60
print (Height_in_meter, Weight_in_kg)

1.65 60

In [24]:
bmi = Weight_in_kg /(Height_in_meters**2)
print (bmi)

22.03856749311295

In [25]:
print ('My height is', Height_in_meter, 'meters, my weight is', Weight_in_kg, 'Kgs, and my BMI is', bmi)

My height is 1.65 meters, my weight is 60 Kgs, and my BMI is 22.03856749311295

In [26]:
print ('My height is', Height_in_meter, 'meters,\nmy weight is', Weight_in_kg, 'Kgs,\nand my bmi is', bmi)

My height is 1.65 meters,
my weight is 60 Kgs,
and my bmi is 22.03856749311295

In [29]:
print ("My height is %s meters, my weight is %s Kgs, and my BMI is %s." %(Height_in_meters, Weight_in_kg, bmi))

My height is 1.65 meters, my weight is 60 Kgs, and my BMI is 22.03856749311295.

In [30]:
print ("My height is {} meters, my weight is {} Kgs, and my BMI is {}." .format(Height_in_meters, Weight_in_kg, bmi))

My height is 1.65 meters, my weight is 60 Kgs, and my BMI is 22.03856749311295.

In [32]:
print ("My height is %.2f meters, my weight is %d Kgs, and my BMI is %.2f." %(Height_in_meters, Weight_in_kg, bmi))

My height is 1.65 meters, my weight is 60 Kgs, and my BMI is 22.04.

# Exercise 2

In [55]:
first_name = 'Yelena'
last_name = 'Aprelev'
full_name = first_name + " " + last_name
print(first_name, last_name)
print(full_name)

n_of_letters = len(full_name)
print (n_of_letters)

# vowels_letters in ['a', 'e', 'i', 'o', 'u']
full_name1=full_name.replace('e', 'E').replace('a', 'A')
print (full_name1)

Yelena Aprelev
Yelena Aprelev
14
YElEnA AprElEv

# Exercise 3

In [83]:
gender1, gender2 = 'Men', 'Women'
age1, age2 = 47, 40
city1, city2 = 'Haifa', 'Haifa'
marital1, marital2 = True, True

same_city = (city1 and city2)
is_older = age1 > age2
diff_gender = gender1 != gender2
both_married = (marital1 and marital2)

print (same_city)
print (is_older)
print (diff_gender)
print (both_married)

Haifa
True
True
True